.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-content {
  display: flex;
  justify-content: center;
}

.page:before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background: #3e8ef7;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url('/assets/images/email-pattern.png');
  background-position: center top;
}
