
<div class="panel app-question">
  <div class="panel-heading">

    <!-- QUESTION TITLE -->
    <h3 [matTooltip]="question.description"
        matTooltipPosition="before"
      class="panel-title">{{question.name}}</h3>


    <div class="panel-actions">
      <a (click)="toggleNotReported()"
        class="panel-action icon wb-alert-circle" ngbTooltip="Not Reported"></a>
    </div>
  </div>
  <div class="panel-body">
    <p>{{question.prompt}}</p>

    <app-dynamic-input *ngIf="responseData.type !== fmt.NOT_REPORTED"
      [question]="question"
      [response]="responseData"
      [type]="responseData.type"
      (onChange)="handleChange($event)">
    </app-dynamic-input>

    <h5 *ngIf="responseData.type === fmt.NOT_REPORTED"
        style="color: red"><em>Not Reported</em></h5>

  </div>
</div>
