<div class="page">
  <div class="page-content">

    <div class="row mb-30">
      <button (click)="view='structure'"
              [disabled]="view==='structure'"
              class="btn btn-primary mr-20"> Structure View </button>

      <button (click)="view='code'"
              [disabled]="view==='code'"
              class="btn btn-primary mr-20"> Code View </button>
      
      <button (click)="nextTask()"
              *ngIf="nextTasks !== null && nextTasks.length > 0"
              [matTooltip]="nextTasks[0].publication.name"
              class="btn btn-outline-success">Next Task</button>
      
      <div 
        *ngIf="nextTasks === null"
        style="display:flex; align-items: center; justify-content: center;"
      >
        <p style="margin-top: auto; margin-bottom: auto;"><em>finding next paper</em></p>
        <mat-progress-spinner mode="indeterminate" diameter="15" style="margin-left: 5px;">
        </mat-progress-spinner>
      </div>

      <div *ngIf="nextTasks?.length === 0" style="display: flex; align-items:center; justify-content: center;">
        <p style="margin-top: auto; margin-bottom: auto;"><em>couldn't find next task</em></p>
      </div>
    </div>

    <div class="row"
         [hidden]="view==='structure'">

      <div class="col-lg-6">

        <p><mat-progress-bar mode="indeterminate" *ngIf="loading > 0"></mat-progress-bar></p>

        <div *ngIf="task && encoding && form && publication">
          <div class="mb-20">
            <button
              [disabled]="!changes"
              (click)="saveChanges()"
              class="btn btn-animate btn-animate-side btn-success btn-raised">
              <span><i class="icon wb-download" aria-hidden="true"></i> Save Changes </span>
            </button>
            <button *ngIf="task.complete === false" class="btn btn-outline-secondary" (click)="setComplete(task, true)">
              Complete
              <i class="icon wb-close"></i>
            </button>
            <button *ngIf="task.complete === true" class="btn btn-outline-success" (click)="setComplete(task, false)">
              Complete
              <i class="icon wb-check-mini"></i>
            </button>
            <p [hidden]="changes">No changes since last save</p>
          </div>

          <app-experiment-form
            #experimentForm
            (onCreateBranch)="handleCreateBranch($event)"
            (onDeleteBranch)="handleDeleteBranch($event)"
            (onBranchChange)="handleChangeBranch($event)"
            (onChange)="onChange()"
            [encoding]="encoding"
            [appForm]="form">
          </app-experiment-form>

          <div class="mt-20">
            <button
              [disabled]="!changes"
              (click)="saveChanges()"
              class="btn btn-animate btn-animate-side btn-success btn-raised">
              <span><i class="icon wb-download" aria-hidden="true"></i> Save Changes </span>
            </button>
            <p [hidden]="changes">No changes since last save</p>
          </div>
        </div>

      </div>

      <div class="col-lg-6">
        <iframe *ngIf="embeddingURL" [src]="embeddingURL" style="width: 100%; height: 700px;"></iframe>
      </div>

    </div>

    <app-structure-editor
      [hidden]="view==='code'"
      [encoding]="encoding"
      (branchUpdate)="loadEncoding(encoding.id)"
      (branchCreate)="handleChangeBranch($event)"
      [codebook]="form">
    </app-structure-editor>

  </div>
</div>
