<nav class="rc-navbar">

  <div class="rc-left">
    <!-- hamburger menu item -->
    <div (click)="toggleSidebar()" class="rc-navbar-item rc-navbar-btn">
      <mat-icon [hidden]="sidebarState===1">menu</mat-icon>
      <mat-icon [hidden]="sidebarState===0">keyboard_backspace</mat-icon>
    </div>

    <!-- project link -->
    <span (click)="showProjects()" class="rc-navbar-item rc-navbar-link">
      {{activeProject?.name || "Select a Project"}}
      <mat-icon>arrow_drop_down</mat-icon>
    </span>
  </div>

  <div class="rc-center">
    <!-- brand image -->
    <div class="rc-navbar-item">
      <img [routerLink]="'/'" class="rc-navbar-brand" src="../../../../../assets/images/UAB-logo-white.png" />
    </div>
  </div>

  <div class="rc-right">
    <!-- chat messages button item -->
    <mat-icon class="rc-navbar-item rc-navbar-btn">forum</mat-icon>

    <!-- profile img /w dropdown item -->
    <div class="rc-navbar-item" [matMenuTriggerFor]="navatarMenu">
      <img class="rc-navbar-profile" [src]="(authService.user | async).image"/>
      <mat-icon>arrow_drop_down</mat-icon>
      <mat-menu #navatarMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
        <button [routerLink]="'/settings/profile'" mat-menu-item>Profile</button>
        <button (click)="authService.logout()" mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </div>

</nav>
