<div style="display: flex; height: 100%">

  <div class="pc-col" style="flex-basis: 250px">
    <p><ngb-progressbar type="primary" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></p>

    <pre>{{ (form$ | async) | json }}</pre>
    <pre>{{ formFiller.eventHistory | json }}</pre>
  </div>

  <div style="flex-grow: 1">
    <div style="display: flex; flex-direction: column">
      <app-toolbar></app-toolbar>
      <app-pc-body
        [formFiller]="formFiller"
        (encodingChange)="formFiller.digest($event)">
      </app-pc-body>
    </div>
  </div>

</div>
