<div style="display: flex; height: 100%">

  <div class="pc-col" style="flex-basis: 250px">
    <p><ngb-progressbar type="primary" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></p>

    <pre>{{ (form$ | async) | json }}</pre>
    <pre>{{ formManager.eventHistory | json }}</pre>
    <button (click)="encoding = reduceEncoding(encoding, events); events = []"
            class="btn btn-sm btn-primary">
      Apply Diffs
    </button>
  </div>

  <div style="flex-grow: 1">
    <div style="display: flex; flex-direction: column">
      <app-toolbar></app-toolbar>
      <app-pc-body (encodingChange)="formManager.digest($event)" [codebook]="codebook"></app-pc-body>
    </div>
  </div>

</div>
