<div class="container">
  <div class="row mb-25">
    <div class="col-12">
      <button (click)="addProjectPublications()"
              class="btn btn-success btn-outline">
        <i class="icon wb-plus"></i>
        Add All Project Publications </button>

      <div class="float-right">
        <input type="file" (change)="handleFileInput($event.target.files)">
        <button (click)="onUploadFile()" class="btn btn-success"
          placement="bottom" ngbTooltip="One Publication ID per row. No header or commas.">
          <i class="icon wb-table"></i>  Upload CSV </button>
      </div>

    </div>
  </div>

  <div *ngIf="publications?.length > 0" class="row">
    <div class="col-12">

      <!--<div class="row">
        <input
          type="search"
          #term (keyup)="paginator.searchStream$.next(term.value)"
          class="form-control form-inline col-lg-4"
          placeholder="Search by name..">

        <app-paginator class="col-lg-8"
                       [pageData]="paginator.pages$ | async"
                       (goto)="paginator.pageStream$.next($event)">
        </app-paginator>
      </div>-->

      <p><mat-progress-bar mode="indeterminate" *ngIf="loading > 0"></mat-progress-bar></p>

      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Publication Name</th>
          <th scope="col">Embedding URL</th>
          <th scope="col">Priority</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pub of publications">
          <th>{{pub.publication?.id}}</th>
          <td>{{pub.publication?.name}}</td>
          <td>{{pub.publication?.embedding_url}}</td>
          <td>{{pub.priority}}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="onDeletePublication(pub.publication)">
              <i class="icon wb-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>


    </div>
  </div>
  <p class="text-center" *ngIf="publications?.length === 0"><em>nothing to see here</em></p>


  <ng-template #addPublicationForm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add a Publication</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-publication-form (appSubmit)="onPublicationFormSubmit($event)"></app-publication-form>
    </div>
  </ng-template>

</div>
