<div class="page">
  <div class="page-content">
    <div class="row">
      <div class="col-lg-3">
        <!-- Example Background -->
        <div>
          <h4 class="example-title">Personal Settings</h4>
          <div class="list-group list-group-bordered">
            <a class="list-group-item" [routerLink]="'profile'" [routerLinkActive]="'active'">
              <i class="icon wb-inbox" aria-hidden="true"></i> Profile
            </a>
          </div>
        </div>
        <!-- End Example Background -->

        <div>
          <h4 class="example-title">App Theme</h4>
          <mat-radio-group (change)="setTheme($event.value)" [value]="theme">
            <mat-radio-button [value]="'red'">Red</mat-radio-button>
            &nbsp; &nbsp;
            <mat-radio-button [value]="'blue'">Blue</mat-radio-button>
            &nbsp; &nbsp;
            <mat-radio-button [value]="'green'">Green</mat-radio-button>
            &nbsp; &nbsp;
            <mat-radio-button [value]="'purple'">Purple</mat-radio-button>
            &nbsp; &nbsp;
            <mat-radio-button [value]="'cyan'">Cyan</mat-radio-button>
            &nbsp; &nbsp;
            <mat-radio-button [value]="'brown'">Brown</mat-radio-button>
            &nbsp; &nbsp;
            <mat-radio-button [value]="'grey'">Grey</mat-radio-button>
            &nbsp; &nbsp;
            <mat-radio-button [value]="'indigo'">Indigo</mat-radio-button>
            &nbsp; &nbsp;
            <mat-radio-button [value]="'orange'">Orange</mat-radio-button>
            &nbsp; &nbsp;
            <mat-radio-button [value]="'pink'">Pink</mat-radio-button>
            &nbsp; &nbsp;
            <mat-radio-button [value]="'teal'">Teal</mat-radio-button>
            &nbsp; &nbsp;
            <mat-radio-button [value]="'yellow'">Yellow</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-lg-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
