<div>
  <button (click)="onDelete()" class="btn btn-sm btn-danger">Delete</button>
  <br/>
  <br/>
  <tree-root #tree [nodes]="treeData"
             [options]="treeOptions"
             [focused]="true"
             (moveNode)="onMove($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">
    <span>
      <i *ngIf="node.data.type==='folder'" class="icon wb-folder"></i>
      <i *ngIf="node.data.type==='file'" class="icon fa-question"></i>
      &nbsp; {{ node.data.name }} - {{node.id}}
    </span>
    </ng-template>
  </tree-root>
</div>
