<div>
  <button (click)="onDelete()"
          [disabled]="isOnRoot()"
          class="btn btn-sm btn-danger mr-10">Delete</button>
  <button (click)="onCreateQuestion()"
          [disabled]="!isOnFolder()"
      class="btn btn-sm btn-success mr-10">
    <i class="icon wb-plus"></i> Question </button>
  <!--<button (click)="onDelete()" class="btn btn-sm btn-danger mr-10"><i class="icon wb-plus"></i> Category </button>-->
  <br/>
  <br/>






  <tree-root #tree [nodes]="treeData"
             [options]="treeOptions"
             [focused]="true"
             (initialized)="onInitialized($event)"
             (updateData)="onInitialized($event)"
             (moveNode)="onMove($event)">





    <ng-template #treeNodeTemplate let-node let-index="index">
    <span>
      <i *ngIf="node.data.type==='folder'" class="icon wb-folder"></i>
      <i *ngIf="node.data.type==='file'" class="icon fa-question"></i>
      &nbsp; {{ node.data.name }}
    </span>
    </ng-template>





  </tree-root>





</div>
