<div class="pc-body">

  <div class="pc-col">
    <div class="pc-col-header"><h4>Paper Info</h4></div>

    <app-pc-card [active]="true" title="The Effects of ..." desc="a highly scientific study"></app-pc-card>
  </div>

  <div class="pc-col">
    <div class="pc-col-header"><h4>Branches</h4></div>

    <app-pc-card [active]="false" title="Constants" desc="these factors stayed constant between trials"></app-pc-card>
    <app-pc-card [active]="false" title="Study Group One" desc="the first trial run"></app-pc-card>
    <app-pc-card [active]="true" title="Study Group Two" desc="group one mice"></app-pc-card>
  </div>

</div>
