
<div class="page">
  <div class="page-header">
    <h1 class="page-title">Research Coder Home</h1>
    <div class="page-header-actions">
      <button type="button" class="btn btn-sm btn-icon btn-default btn-outline"
              data-toggle="tooltip" data-original-title="Edit">
        <img height="20" src="https://avatars0.githubusercontent.com/u/22692124?s=40&v=4"/>
        &nbsp; chrisrocco &nbsp;
        <i class="icon wb-chevron-down-mini" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div class="page-content">
    <div class="row">
      <div class="col-lg-8"></div>
      <div class="col-lg-4">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">
              <h4>Recent Activity</h4>
            </div>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-bordered">
              <li class="list-group-item"><i class="icon wb-book"></i> <a href>Murine Rigor</a> <span class="badge badge-pill badge-info">3</span> </li>
              <li class="list-group-item"><i class="icon wb-book"></i> <a href>Missile</a> <span class="badge badge-pill badge-info">1</span> </li>
              <li class="list-group-item"><i class="icon wb-book"></i> <a href>Example Project A</a> <span class="badge badge-pill badge-info">1</span> </li>
              <li class="list-group-item"><i class="icon wb-book"></i> <a href>Example Project B</a> <span class="badge badge-pill badge-info">1</span> </li>
            </ul>
            <div class="text-right">
              <a href>Load More...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
