.project-list-table {
  font-weight: bold;
  font-size: 13px;
}

.active-project-list-item {
  background-color: rgba(59,120,231,.08);
}

.project-list-table tbody tr:hover {
  background-color: rgba(221, 221, 221, 0.35);
}
