
<div class="page">
  <div class="container">
    <div class="page-header">
      <h1 class="page-title mb-25">Showing Conflicts Report</h1>
      <!--<p class="page-description">{{project.description}}</p>-->
    </div>

    <div class="container">
      <div class="text-center" *ngIf="loading > 0">
        <div class="loading-wrapper" style="width: 100px; margin: auto">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table conflicts-table" *ngIf="ready">
            <thead class="thead-light">
            <tr class="avatar-thead">
              <th>Questions</th>
              <th>
                <span class="avatar avatar-sm">
                  <img [src]="user.image"/>
                </span> &nbsp;
                My Responses
              </th>
              <th *ngFor="let user of otherUsers">
                <span class="avatar avatar-sm">
                  <img [src]="user.image"/>
                </span> &nbsp;
                {{user.name}}
              </th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let question of questions">


                <ng-template #questionPopover>
                  <app-question [question]="question" [responseData]="lookupResponse(myEncoding, question)"></app-question>
                </ng-template>


                <th>
                  <button class="btn btn-sm p-3" [ngbPopover]="questionPopover" placement="right" popoverTitle="{{question.name}}">
                    <i class="icon fa-question"></i>
                  </button>
                  &nbsp;
                  {{question.name}}
                </th>
                <td class="my-response">{{renderResponse(myEncoding, question)}}</td>
                <td *ngFor="let other of otherEncodings" [ngClass]="{ 'conflict': !conflict(other, question)?.agrees}">
                  {{renderResponse(other, question)}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
