
<mat-drawer-container class="page">
    <div class="container">
      <div class="page-header">
        <h1 class="page-title mb-25">Showing Conflicts Report</h1>
        <p class="page-description"><b>CodeBook: {{form?.name}}</b></p>
        <a (click)="navigateToPubCoder(myEncoding)" href="javascript:void(0)">to PubCoder</a>

        <div class="page-header-actions">
          <div class="row no-space hidden-sm-down">
            <div class="col-sm-4">
              <div class="counter">
                <span class="counter-number font-weight-medium">{{otherUsers.length+1}}</span>
                <div class="counter-label">Collaborators</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">


          <div class="text-center" *ngIf="loading > 0">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>


          <div *ngIf="!loading && getBranchNames().length === 0" class="text-center">
            <em>nothing to see here</em>
          </div>


          <div *ngFor="let branchEntry of getBranchNames()">

            <div class="title-wrapper">

              <!-- Editing -->
              <div *ngIf="branchState[branchEntry[1].id]">
                <input (blur)="stopEditingBranch(branchEntry[1], $event.target.value)" [value]="branchEntry[0]" />
              </div>



              <!-- Not Editing -->
              <div *ngIf="!branchState[branchEntry[1].id]">
                <h2>{{branchEntry[0]}} <small><i class="icon wb-edit" (click)="editBranch(branchEntry[1])"></i></small></h2>
              </div>

            </div>

            <table class="table conflicts-table" *ngIf="ready">



              <!-- TABLE HEADERS
              ======================== -->
              <thead class="">
              <tr class="avatar-thead">
                <th>Questions</th>
                <th>
                <span class="avatar avatar-sm">
                  <img [src]="user.image"/>
                </span> &nbsp;
                  My Responses
                </th>
                <th *ngFor="let user of otherUsers">
                <span class="avatar avatar-sm">
                  <img [src]="user.image"/>
                </span> &nbsp;
                  {{user.name}}
                </th>
              </tr>
              </thead>




              <!-- TABLE BODY
              ========================= -->
              <tbody>
              <tr *ngFor="let question of questions">


                <!-- QUESTION POP-OUT -->
                <ng-template #questionPopover >
                    <app-question
                            [key]="question.id"
                            [question]="question"
                            [responseData]="lookupResponse(branchEntry[0], myEncoding, question)"
                            (questionUpdate)="handleResponseChange($event)">
                    </app-question>
                  </ng-template>

                <!-- QUESTION COLUMN -->
                <th>
                  <button class="btn btn-sm btn-primary p-3"
                          [ngbPopover]="questionPopover"
                          [disabled]="lookupResponse(branchEntry[0], myEncoding, question) === null"
                          placement="right"
                          popoverTitle="{{question.name}}">
                    <i class="icon fa-question"></i>
                  </button>
                  &nbsp;
                  {{question.name}}
                </th>


                <!-- MY RESPONSE -->
                <td class="my-response">{{renderResponse(branchEntry[0], myEncoding, question)}}</td>


                <!-- OTHER REPSONDERS
                ============================ -->
                <td *ngFor="let other of otherEncodings"
                    [ngClass]="{
                      'conflict': conflict(branchEntry[0], other, question)?.agrees===0,
                      'agreement': conflict(branchEntry[0], other, question)?.agrees===1 }">

                  {{renderResponse(branchEntry[0], other, question)}}
                </td>



              </tr>

              </tbody>
            </table>

          </div>


          <button *ngIf="changes" (click)="commitChanges()" class="btn btn-primary" >
            <i class="icon wb-upload"></i> &nbsp;
            Commit Changes
          </button>


        </div>

      </div>
    </div>

    <div class="site-action">
      <button
        type="button"
        (click)="chatPanel.toggle()"
        class="site-action-toggle btn-raised btn btn-primary btn-floating">
        <i class="icon wb-chat-group"></i>
      </button>
    </div>

  <mat-drawer #chatPanel mode="over" position="end" class="p-15" style="max-width: 600px; width:400px">
    <app-channel
      *ngIf="channel_name"
      [channelName]="channel_name">
    </app-channel>
  </mat-drawer>


</mat-drawer-container>
