.avatar-sm {
  height: 30px;
}

.avatar-thead th {
  font-weight: bold;
  line-height: 15px;
  vertical-align: middle;
}

.avatar-thead span {
  vertical-align: middle;
}

table.conflicts-table {
  font-weight: bold;
  background-color: white;
}


/* CONDITIONALLY COLORED CELLS */

td.my-response {
  background-color: rgba(188, 255, 253, 0.41);
}

td.conflict {
  background-color: rgba(255, 8, 0, 0.14);
}

td.agreement {
  background-color: rgba(16, 255, 0, 0.14);
}
