<ngb-accordion
  #acc="ngbAccordion" activeIds="ngb-panel-0" class="app-category"
  [destroyOnHide]="false">

  <ngb-panel>
    <ng-template ngbPanelTitle>
      <i class="icon wb-folder"></i> &nbsp;
      {{category.name}}
      &nbsp; <span class="badge badge-round badge-info">{{category.questions.length}}</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <!-- Child Questions -->
      <app-question
        *ngFor="let question of category.questions; let i = index"
        [key]="category.id+'-'+i"
        [question]="question"
        (questionUpdate)="onQuestionChange($event)">
      </app-question>
      <!-- Child Categories -->
      <app-category
        *ngFor="let subCategory of category.children"
        [category]="subCategory">
      </app-category>
    </ng-template>
  </ngb-panel>

</ngb-accordion>
