<div class="user-groups-page">

  <div class="rc-header">
    <mat-toolbar>
      User Management
    </mat-toolbar>
  </div>

  <div class="rc-col-wrapper">

    <app-selected-user class="rc-col selected-user-col" [user]="selectedUser$ | async"></app-selected-user>

    <rc-project-users class="rc-col project-users-col"
          [users]="projectUsers$ | async"
          (clickUser)="updateSelectedUser($event)"
    ></rc-project-users>

    <app-project-groups class="rc-col project-groups-col"
          [groups]="projectGroups$ | async"
          (clickUser)="updateSelectedUser($event)"
    ></app-project-groups>

  </div>


</div>
