.user-groups-page {
  height: calc(100% - 115px);

  .rc-header {
    background-color: white;
    border-bottom: solid gray 1px;
  }

  .rc-col-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .rc-col {
    flex-basis: 33%;
    padding: 10px;
    background-color: ghostwhite;
  }

  .selected-user-col {
    border-right: solid gray 1px;
  }

  .project-users-col {
    border-right: solid gray 1px;
  }

  .project-groups-col {}

}
