.user-groups-page {
    height: 100%;

    .rc-header {
        border-bottom: solid gray 1px;
    }

    .rc-col-wrapper {
        height: 100%;
        display: flex;

        .selected-user-col {
            flex-basis: 30%;
            padding: 10px;
            background-color: white;
            border-right: solid gray 1px;
        }
        
        .project-users-col {
            flex-basis: 35%;
            padding: 10px;
            background-color: white;
            border-right: solid gray 1px;
        }
        
        .project-groups-col {
            flex-basis: 35%;
            padding: 10px;
            background-color: white;
        }
    }
}
