<div class="page">
  <div class="container">


    <div class="page-header">
      <h1 class="page-title"> My Tasks</h1>
    </div>


    <div class="page-content container-fluid">
      <button
        type="button"
        (click)="openModal(modal)"
        class="btn btn-raised btn-primary">
        <i class="icon wb-plus-circle"></i>
        Find Tasks
      </button>

      <div class="row mt-30">

        <mat-progress-bar mode="indeterminate" *ngIf="loading > 0" style="margin-bottom: 20px"></mat-progress-bar>




        <div *ngIf="tasks" class="col-12">

          <div class="panel">
            <div class="panel-body">

              <div class="row" *ngIf="paginator">
                <input
                  type="search"
                  #term (keyup)="paginator.searchStream$.next(term.value)"
                  class="form-control form-inline col-lg-4"
                  placeholder="Search..">

                <app-paginator class="col-lg-8"
                               [pageData]="paginator.pages$ | async"
                               (goto)="paginator.pageStream$.next($event)">
                </app-paginator>
              </div>

              <br/>

              <table *ngIf="tasks.length > 0" class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Codebook</th>
                  <th>Publication</th>
                  <!--<th>Progress</th>-->
                  <th>Status</th>
                  <th class="text-right">Actions</th>
                  <th class="text-right">Quit</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let task of tasks">
                  <th scope="row">{{task.id}}</th>
                  <td>{{task.form?.name || "NO_CODEBOOK"}}</td>
                  <td style="max-width: 300px">{{task.publication?.name || "NO_PUBLICATION"}}</td>
                  <!--<td>-->
                    <!--<p><ngb-progressbar type="warning" [value]="task.completion" [striped]="true" [animated]="true"><i>{{task.completion}}%</i></ngb-progressbar></p>-->
                  <!--</td>-->
                  <td><span class="badge badge-dark badge-outline">{{getStatus(task)}}</span></td>
                  <td class="text-right">

                    <button  *ngIf="task.status === 'pending'" (click)="startEncoding(task)"
                             class="btn btn-success">
                      Start
                      <i class="icon wb-play"></i>
                    </button>

                    <button *ngIf="task.status === 'in_progress'" (click)="navigateToPubCoder(task.encoding_id)"
                            class="btn btn-outline-primary">
                      Continue
                      <i class="icon wb-pencil"></i>
                    </button>

                    <div *ngIf="task.status === 'complete'" class="dropdown">
                      <button data-toggle="dropdown" class="btn btn-primary" >
                        Actions
                        <i class="icon wb-chevron-down-mini"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a [routerLink]="['/pub-coder', task.encoding_id]" class="dropdown-item">
                          <i class="icon wb-pencil"></i>
                          Continue
                        </a>
                        <a [routerLink]="['/conflicts', task.encoding_id]" class="dropdown-item">
                          <i class="icon  wb-users"></i>
                          Conflict Report
                        </a>
                      </div>
                    </div>
                  </td>
                  <td class="text-right">
                    <button (click)="onQuitTask(task)" class="btn btn-sm btn-outline-secondary">
                      x
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- If the user has no assignments
          =========================================== -->
          <div *ngIf="tasks.length === 0" class="col-12 text-center">
            <div class="alert alert-alt alert-danger alert-dismissible bg-white" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              You don't have any assignments yet, <a (click)="openModal(modal)" class="alert-link" href="javascript:void(0)">find one</a> to get started!
            </div>
          </div>


        </div>


      </div>
    </div>
  </div>








  <ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Find Tasks</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--<mat-progress-bar mode="indeterminate" *ngIf="showLoader"></mat-progress-bar>-->
      <app-find-task #taskFormComp></app-find-task>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="taskFormComp.taskForm.status==='INVALID'"
        (click)="onTaskFormSubmit(taskFormComp.exportForm())"
        class="btn btn-success float-right">+ Request</button>
    </div>
  </ng-template>

</div>
