<div class="page">
  <div class="container">


    <div class="page-header flex-container">
      <div>
        <h1 class="page-title"> My Tasks</h1>
      </div>
      <div>
        <button
          type="button"
          (click)="openModal(modal)"
          class="btn btn-raised btn-primary">
          <i class="icon wb-plus-circle"></i>
          Find Tasks
        </button>
      </div>
    </div>


    <div class="page-content container-fluid">


      <mat-card>
        <mat-card-content>
          <mat-tab-group class="tasks-tab-group"
            [selectedIndex]="activeTabIndex"
            [dynamicHeight]="true"
            (selectedIndexChange)="onActiveTabChange($event)">

          <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
            <div class="tasks-tab-content">
              <app-task-list
                [paginator]="tab.paginator"
                [statusName]="tab.promptStatus"
                [showFindTaskPromptIfEmpty]="tab.showEmptyPrompt"
                (clickFindTasks)="openModal(modal)"
                (clickQuitTask)="quitTask($event)"
              >
              </app-task-list>
            </div>
          </mat-tab>

          </mat-tab-group>
        </mat-card-content>
      </mat-card>

    </div>
  </div>




  <ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Find Tasks</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-find-task #taskFormComp></app-find-task>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="taskFormComp.selectedProjectForm === null"
        (click)="onTaskFormSubmit(taskFormComp.selectedProjectForm)"
        class="btn btn-success float-right">+ Request</button>
    </div>
  </ng-template>

</div>
