<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse"
     role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand navbar-brand-center" [routerLink]="'/'">
      <img class="navbar-brand-logo navbar-brand-logo-normal" src="../../../../assets/images/UAB-logo-white.png"
           title="Research Coder UAB">
      <img class="navbar-brand-logo navbar-brand-logo-special" src="../../../../assets/images/UAB-logo-white.png"
           title="Research Coder UAB">
    </a>
    <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
            data-toggle="collapse">
      <span class="sr-only">Toggle Search</span>
      <i class="icon wb-search" aria-hidden="true"></i>
    </button>
  </div>

  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar -->
      <ul class="nav navbar-toolbar">
        <li class="nav-item hidden-float">
          <a class="nav-link icon wb-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
             role="button">
            <span class="sr-only">Toggle Search</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/home'"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/projects'"> Projects </a>
        </li>
      </ul>
      <!-- End Navbar Toolbar -->

      <!-- Navbar Toolbar Right -->
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
             aria-expanded="false" role="button">
            <span class="icon wb-plus"></span> &nbsp; <i class="icon wb-chevron-down-mini"></i>
          </a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
              <span class="icon wb-pencil"></span> Find Task</a>
            <a [routerLink]="'/create-project'" class="dropdown-item" role="menuitem">
              <span class="icon wb-book"></span> New Project</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link navbar-avatar" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false"
             data-animation="scale-up" role="button">
                <span class="avatar avatar-online">
                  <img [src]="user.image" alt="user image">
                </span>
                  &nbsp; <i class="icon wb-chevron-down-mini"></i>
          </a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" [routerLink]="'/settings/profile'" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
            <a class="dropdown-item" [routerLink]="'/settings'" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> Settings</a>
            <div class="dropdown-divider" role="presentation"></div>
            <a (click)="logout()" class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
          </div>
        </li>
      </ul>
      <!-- End Navbar Toolbar Right -->
    </div>
    <!-- End Navbar Collapse -->

    <!-- Site Navbar Seach -->
    <div class="collapse navbar-search-overlap" id="site-navbar-search">
      <form role="search">
        <div class="form-group">
          <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="site-search" placeholder="Search...">
            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                    data-toggle="collapse" aria-label="Close"></button>
          </div>
        </div>
      </form>
    </div>
    <!-- End Site Navbar Seach -->
  </div>
</nav>
