<nav class="site-navbar navbar navbar-default navbar-inverse navbar-fixed-top navbar-mega"
     role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggler hamburger hamburger-close collapsed" data-target="#site-navbar-collapse"
            data-toggle="collapse">
      <span class="hamburger-bar"></span>
    </button>
    <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
      <img class="navbar-brand-logo"
           src="../../../../assets/images/UAB-logo-white.png" title="UAB Research Coder">
    </div>
  </div>

  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar -->
      <ul class="nav navbar-toolbar">
        <!--<li class="nav-item hidden-float">-->
        <!--<a class="nav-link icon wb-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"-->
        <!--role="button">-->
        <!--<span class="sr-only">Toggle Search</span>-->
        <!--</a>-->
        <!--</li>-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/tasks'"> My Encodings </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/projects'"> My Reviews </a>
        </li>
      </ul>
      <!-- End Navbar Toolbar -->

      <!-- Navbar Toolbar Right -->
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
             aria-expanded="false" role="button">
            <span class="icon wb-plus"></span> &nbsp; <i class="icon wb-chevron-down-mini"></i>
          </a>
          <div class="dropdown-menu" role="menu">
            <a [routerLink]="'/create-project'" class="dropdown-item" role="menuitem">
              <span class="icon wb-book"></span> New Project</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link navbar-avatar" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false"
             data-animation="scale-up" role="button">
                <span class="avatar avatar-online">
                  <img [src]="user.image" alt="user image">
                </span>
            &nbsp; <i class="icon wb-chevron-down-mini"></i>
          </a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" [routerLink]="'/settings/profile'" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
            <a class="dropdown-item" [routerLink]="'/settings'" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> Settings</a>
            <div class="dropdown-divider" role="presentation"></div>
            <a (click)="logout()" class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
          </div>
        </li>
      </ul>
      <!-- End Navbar Toolbar Right -->

    </div>
    <!-- End Navbar Collapse -->

  </div>
</nav>
