<div class="page page-fullwidth">


  <div class="page-aside">

    <div class="rc-ft">
      <h2><i class="icon wb-folder"></i>Repositories</h2>
    </div>

    <div class="page-aside-inner page-aside-scroll scrollable is-enabled scrollable-vertical">

      <div class="card card-block pub-repo-instance-card link active-card">

        <div class="details">
          <b>Murine Rigor Repos</b>
          <p class="card-text">murine-rigor-repos-23490u</p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>

        <div>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>

      </div>

    </div>
  </div>

  <div class="page-main">

    <div class="rc-ft">
      <span class="mr-20"><i class="fa fa-arrow-left"></i></span>

      <h2 class="feature-title">
        Instance Details</h2>

      <div class="ml-25">
        <button class="btn btn-outline btn-primary btn-xs">
          <i class="fa fa-plus"></i> &nbsp; Create Instance
        </button>
      </div>

    </div>

    <div class="panel">
      <div class="panel-body">
        <div>

          <div class="form-group">
            <div class="input-search">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" placeholder="Filter Instances...">
              <button type="button" class="input-search-close icon wb-close"></button>
            </div>
          </div>

          <table class="table table-sm" style="color: black">
            <thead>
            <tr>
              <th>ID</th>
              <th>Display Name</th>
              <th>Publication Count</th>
              <th>Pipes</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let repo of repos | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{repo.id}}</td>
              <td>
                <a class="link" style="font-weight: 400"> {{repo.displayName}} </a>
              </td>
              <td>[ Coming Soon ]</td>
              <td>[ Coming Soon ]</td>
            </tr>
            </tbody>
          </table>

          <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
      </div>
    </div>

  </div>

</div>
