<div class="page page-fullwidth">


  <div class="page-aside">

    <div class="rc-ft">
      <h2><i class="icon fa fa-database"></i>Repositories</h2>
    </div>

    <div class="page-aside-inner page-aside-scroll scrollable is-enabled scrollable-vertical">

      <div *ngFor="let repo of repos"
           [ngClass]="{ 'active-card': activeRepo === repo }"
           (click)="activeRepo$.next(repo)"
           class="card card-block pub-repo-instance-card link">

        <div class="details">
          <b>{{repo.displayName}}</b>
          <p class="card-text">{{repo.id}}</p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>

        <div>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </div>


      <button matTooltip="Create A New Repository" matTooltipPosition="after"
              style="position: absolute; bottom: 20px; left: 20px;"
              (click)="openModal(createRepoModal)"
              class="btn btn-floating btn-success">
        <i class="icon wb-plus"></i></button>

    </div>
  </div>

  <div class="page-main">

    <div class="rc-ft">
      <h2 class="feature-title">
        Instance Details</h2>

      <div class="ml-25">
        <span>Import Options: </span>
      </div>

      <div class="ml-25">
        <button (click)="handlePMCImport()" class="btn btn-xs btn-primary">
          <i class="icon wb-cloud"></i> PMC Import Tool</button>
      </div>

      <div class="ml-25">
        <!-- This native input element is hidden -->
        <input #csvInput style="display: none;" type="file"
               (change)="handleFileChange($event.target.files)" accept=".csv,">

        <!-- This button forwards the click to the native file input element via an Angular directive -->
        <button (click)="csvInput.click()" class="btn btn-xs btn-primary">
          <i class="icon wb-upload"></i> CSV Upload</button>
      </div>

      <div class="ml-25">
        <button (click)="handleAddOne()" class="btn btn-xs btn-primary">
          <i class="icon wb-plus"></i> Manual Add One</button>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title"> {{activeRepo?.id}}
          <span class="badge badge-success">Up and Running</span>
        </h3>
        <br/>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="input-search">
            <i class="input-search-icon wb-search"></i>
            <input type="text" class="form-control" placeholder="Filter Publications...">
            <button type="button" class="input-search-close icon wb-close"></button>
          </div>
        </div>

        <table class="table table-sm" style="color: black">
          <thead>
          <tr>
            <th>ID</th>
            <th>Display Name</th>
            <th>Embedding URL</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pub of activeRepoPublications | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{pub.id}}</td>
            <td>
              <a class="link" style="font-weight: 400"> {{pub.name}} </a>
            </td>
            <td><a target="_blank" href="{{pub.embedding_url}}">{{pub.embedding_url}}</a></td>
          </tr>
          </tbody>
        </table>

        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </div>
    </div>

  </div>









  <!-- MODALS -->
  <ng-template #createRepoModal let-c="close" let-d="dismiss">
    <div class="modal-body">
      <app-pub-repo-form (formSubmit)="handleNewRepoSubmit($event)"></app-pub-repo-form>
    </div>
  </ng-template>


</div>
