<div class="container">
  <div class="row mb-25">
    <div class="col-12">
      <button (click)="openModal(addPublicationForm)"
              class="btn btn-success btn-outline">
        <i class="icon wb-plus"></i>
        New Publication </button>
    </div>
  </div>

  <div class="text-center" *ngIf="showLoader">
    <div class="loading-wrapper" style="width: 100px; margin: auto">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>

  <div class="row" *ngIf="!showLoader && publications.length > 0">
    <div class="col-12">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Publication Name</th>
          <th scope="col">Embedding URL</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pub of publications">
          <th>{{pub.id}}</th>
          <td>{{pub.name}}</td>
          <td>{{pub.embedding_url}}</td>
          <td>
            <button class="btn btn-danger" (click)="onDeletePublication(pub)">
              <i class="icon wb-trash"></i> Remove </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h3 *ngIf="publications?.length === 0">No publications yet. <a href="javascript:void(0)" (click)="openModal(addPublicationForm)">Add one</a> to get started.</h3>


  <ng-template #addPublicationForm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add a Publication</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-publication-form (appSubmit)="onPublicationFormSubmit($event)"></app-publication-form>
    </div>
  </ng-template>

</div>
