<div class="page">
  <div class="page-content">
    <div class="row">
      <div class="col-lg-6">

        <p><ngb-progressbar
          class="active"
          type="success"
          [striped]="true" [animated]="true"
          [value]="formCompletion">
          {{formCompletion}}%
        </ngb-progressbar></p>

        <div class="panel">
          <div class="panel-body">
            <app-experiment-form
              (appExperimentFormUpdate)="onFormUpdate($event)"
              [branches]="branches"
              [formModel]="formModel">
            </app-experiment-form>
          </div>
        </div>

      </div>
      <div class="col-lg-6">
        <pre>{{encoding | json}}</pre>
      </div>
    </div>
  </div>
</div>
