<div class="text-center" *ngIf="loading > 0">
    <div class="loading-wrapper" style="width: 100px; margin: auto">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</div>

<div class="row">
    <form class="form col-lg-4 col-md-7" (ngSubmit)="onFormSubmit()" *ngIf="loading === 0 && settings" #form>
        <div class="form-group">
            <label> <strong>Task Target Publication</strong> </label>
            <p class="description-content">
                <em>The number of desired encodings per publication</em>
            </p>
            <input #targetPub class="form-control" required
                   type="number" name="task_target_publication" [(ngModel)]="settings.task_target_publication" />
        </div>

        <div class="form-group">
            <label> <strong>Task Target Encoder</strong> </label>
            <p class="description-content">
                <em>The desired number of active encoding tasks per encoder</em>
            </p>
            <input #targetEnc class="form-control" required
                   type="number" name="task_target_encoder" [(ngModel)]="settings.task_target_encoder" />
        </div>

        <div class="form-group">
            <label> <strong>Automatic Encoder Enrollment</strong> </label>
            <p class="description-content">
                <em>Whether encoders added to the project should automatically be enrolled in this codebook</em>
            </p>
            <mat-radio-group name="auto_enroll" [(ngModel)]="settings.auto_enroll">
                <mat-radio-button [value]="true">True </mat-radio-button>
                <mat-radio-button [value]="false">False</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="form-group">
            <label> <strong>Automatic Publication Sharing</strong> </label>
            <p class="description-content">
                <em>Whether publications added to or removed from the project should automatically be added to or removed from this codebook</em>
            </p>
            <mat-radio-group name="inherit_publications" [(ngModel)]="settings.inherit_publications">
                <mat-radio-button [value]="true">True </mat-radio-button>
                <mat-radio-button [value]="false">False</mat-radio-button>
            </mat-radio-group>
        </div>

        <button class="btn btn-success"> Submit </button>

    </form>
</div>
