<div class="page">
  <div class="page-content">

    <div class="row">
      <div class="col-lg-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <b>Form Structure</b> </li>
        </ol>
        <div class="panel">
          <div class="panel-body">
            <div id="saving" [hidden]="!showSaving">
              <b>Saving..</b>
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              <br/>
            </div>

            <app-form-layout-tree
              [form]="form"
              (nodeSelected)="onNodeSelected($event)"
              (nodeMoved)="onNodeMoved($event)">
            </app-form-layout-tree>

          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <ol class="breadcrumb text-lg-center">
          <li *ngFor="let crumb of activeCrumbs" class="breadcrumb-item">
            <a (click)="selectCrumb(crumb)" href="javascript:void(0)">{{crumb.name}}</a>
          </li>
        </ol>
        <div class="row" *ngIf="activeCategory?.children">
          <div class="col-12 pt-20 pl-20">
            <button *ngFor="let sub of activeCategory?.children"
                    (click)="onNodeSelected(sub.id)"
                    class="btn btn-lg btn-default mr-20">
              <i class="icon wb-folder"></i> {{sub.name}}</button>
          </div>
          <hr>
          <div class="col-12 p-20">
            <button *ngFor="let question of activeCategory?.questions"
                    (click)="onNodeSelected(question.id)"
                    class="btn btn-lg btn-default mr-20">
              <i class="icon fa-question"></i> {{question.name}}</button>
          </div>
        </div>
        <div class="panel">
          <div class="panel-body">
            <h4>{{activeCategory.name}}</h4>
            <pre>{{ activeCategory | json }}</pre>
          </div>
        </div>

        <button class="btn btn-success" (click)="open(questionModalContent)"> <i class="icon wb-plus"></i> New Question </button>
      </div>
    </div>


    <ng-template #questionModalContent let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">New Question</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-question-builder (onSave)="onQuestionCreate($event)"></app-question-builder>
      </div>
    </ng-template>
  </div>
</div>
