<div class="page">
  <div class="page-content">

    <div class="row">
      <div class="col-lg-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <b>Form Structure</b> </li>
        </ol>
        <div class="panel">
          <div class="panel-body">

            <app-form-structure-panel [category]="form.layout.root">
            </app-form-structure-panel>

          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
          <li class="breadcrumb-item active">You are Here</li>
        </ol>
        <div class="panel">
          <div class="panel-body">
            Rendering Pane!
          </div>
        </div>

        <button class="btn btn-success" (click)="open(questionModalContent)"> New Question </button>
      </div>
    </div>


    <ng-template #questionModalContent let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">New Question</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-question-builder (onSave)="onQuestionCreate($event)"></app-question-builder>
      </div>
    </ng-template>
  </div>
</div>
