<div class="page">
  <div class="container">


    <div class="page-header">
      <h1 class="page-title">Ongoing Projects</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
        <li class="breadcrumb-item active"> Projects</li>
      </ol>
      <div class="page-header-actions">
        <a [routerLink]="'/create-project'" class="btn btn-sm btn-icon btn-inverse btn-round" [placement]="'left'"
           ngbTooltip="New Project">
          <i class="icon wb-plus"></i>
        </a>
        <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" [placement]="'left'"
                ngbTooltip="Invite Users">
          <i class="icon wb-user-add"></i>
        </button>
      </div>
    </div>


    <div class="page-content container-fluid">
      <button
        type="button"
        routerLink="/create-project"
        class="btn btn-raised btn-primary">
        <i class="icon wb-pencil"></i>
        Create New Review
      </button>

      <div class="row mt-30">
        <mat-progress-bar mode="indeterminate" *ngIf="showLoader" style="margin-bottom: 20px"></mat-progress-bar>



        <div class="col-12" *ngIf="projects">

          <!-- project panels -->
          <div *ngIf="projects.length > 0">
            <div *ngFor="let pj of projects" class="col-lg-4">
              <div class="panel panel-primary panel-line">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="icon wb-book"></i>
                    <a [routerLink]="['/projects', pj.id]">{{pj.name}}</a></h3>
                  <div class="panel-actions panel-actions-keep">
                    <div class="dropdown">
                      <a class="panel-action" id="examplePanelDropdown" data-toggle="dropdown" href="#"
                         role="button"><i class="icon wb-more-vertical"></i></a>
                      <div class="dropdown-menu dropdown-menu-bullet dropdown-menu-right"
                           aria-labelledby="examplePanelDropdown"
                           role="menu">
                        <a class="dropdown-item" (click)="deleteProject(pj.id)" href="javascript:void(0)" role="menuitem">
                          <i class="icon wb-trash" aria-hidden="true"></i> Delete</a>
                        <div class="dropdown-divider"></div>
                        <a (click)="editProject(pj, modal)" class="dropdown-item" href="javascript:void(0)" role="menuitem">
                          <i class="icon wb-settings" aria-hidden="true"></i> Edit</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <p>{{pj.description}}</p>
                </div>
              </div>
            </div>
          </div>




          <!-- no projects yet -->
          <div *ngIf="projects.length === 0" class="col-12 text-center">
            <div class="alert alert-alt alert-danger alert-dismissible bg-white" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              You don't have any projects yet, <a routerLink="/create-project" class="alert-link" href="javascript:void(0)">create one</a> to get started!
            </div>
          </div>

        </div>



      </div>
    </div>


  </div>


  <!-- EDIT PROJECT MODAL
  =================================== -->

  <ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Edit Project</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-project-form
        (appSubmit)="updateProject($event)"
        [projectModel]="editingProject"></app-project-form>
    </div>
  </ng-template>


</div>
