<div class="page">
  <div class="container">
    <div class="page-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/projects">Projects</a></li>
        <li class="breadcrumb-item active">{{project?.name}}</li>
      </ol>
      <h1 class="page-title mb-25">{{project?.name}}</h1>
    </div>


    <div class="container">
      <div class="row mb-25">
        <div class="col-12">
          <button (click)="openModal(formFormModal)"
                  class="btn btn-secondary">
            <i class="icon wb-plus"></i>
            New Form </button>
        </div>
      </div>

      <div class="text-center" *ngIf="loading > 0">
        <div class="loading-wrapper" style="width: 100px; margin: auto">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>

      <div class="row" *ngIf="forms">




        <!-- Form Cards -->
        <div *ngFor="let form of forms" class="col-lg-6">
          <div class="panel panel-bordered panel-primary bg-blue-grey-200">
            <div class="panel-heading">
              <h3 class="panel-title">
                <i class="icon wb-file"></i>
                <b>{{form.name}}</b>
              </h3>

              <div class="panel-actions panel-actions-keep">
                <div class="dropdown">
                  <a class="panel-action"
                     data-toggle="dropdown" href="javascript:void(0)"
                     role="button"><i class="icon wb-more-vertical"></i></a>
                  <div class="dropdown-menu dropdown-menu-bullet dropdown-menu-right">

                    <a class="dropdown-item" (click)="manageForm(form)" href="javascript:void(0)">
                      <i class="icon wb-settings"></i>
                      Manage
                    </a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" (click)="deleteForm(form.id)" href="javascript:void(0)">
                      <i class="icon wb-trash"></i>
                      Delete
                    </a>


                  </div>
                </div>
              </div>
            </div>
            <div class="panel-collapse">
              <div class="panel-toolbar bg-grey-300" role="toolbar">
                <label class="badge badge-success"> <i class="icon wb-check"></i> Published </label>
              </div>
              <div class="panel-body">
                <h4>Form Description:</h4>
                <p>{{form.description}}</p>
                <hr/>



                <button class="btn btn-primary" (click)="exportForm(form.id)">
                  <i class="icon wb-briefcase"></i> Export
                </button>



                <a [routerLink]="['/forms', form.id]"
                   class="btn btn-warning float-right">
                  <i class="icon wb-extension"></i>
                  <b> Open Form Builder</b>
                </a>



              </div>
            </div>
          </div>
          <!-- End Example Panel With Heading -->
        </div>
        <!-- Form Cards -->






        <h3 *ngIf="forms.length === 0">No forms yet. <a href="javascript:void(0)" (click)="openModal(formFormModal)">Add one</a> to get started.</h3>
      </div>






      <!-- Create Form Modal -->
      <ng-template #formFormModal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Create Form</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <mat-progress-bar mode="indeterminate" *ngIf="showLoader"></mat-progress-bar>
          <app-form-form
            [appForm]="editingForm"
            (appSubmit)="formFormSubmit($event)">
          </app-form-form>
        </div>
      </ng-template>
      <!-- Create Form Modal -->
    </div>


  </div>
</div>
