.header-row {
  display: flex;
  justify-content: space-between;

  .user-name {
    flex-grow: 2;
  }

  .user-image {
    flex-grow: 1;
    a {
      width: 100%;
      max-width: 120px;
    }
  }
}
