<div class="page page-fullwidth">

  <div class="rc-ft">
    <div class="rc-ft-brand">
      <h2><mat-icon matListIcon>settings_input_component</mat-icon> Pipelines</h2>
    </div>
    <div>
      <h2 class="feature-title">Project Data Flow Configuration</h2>
    </div>
    <div class="ml-25">
      <button class="btn btn-outline btn-primary btn-xs">
        <i class="fa fa-plus"></i> &nbsp; Create Pipe
      </button>
    </div>
  </div>

  <div class="panel">
    <div class="panel-body">



    </div>
  </div>

</div>
