<div class="rc-page">

  <div class="rc-page-col-left">
    <div class="page-aside-switch">
      <i class="icon wb-chevron-left" aria-hidden="true"></i>
      <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner page-aside-scroll">
      <div data-role="container">
        <div data-role="content">
          <section class="page-aside-section">
            <h5 class="page-aside-title">Main</h5>
            <div class="list-group">
              <a class="list-group-item list-group-item-action active" href="javascript:void(0)"><i class="icon wb-dashboard" aria-hidden="true"></i>Overview</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon wb-pluse" aria-hidden="true"></i>Activity</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon wb-heart" aria-hidden="true"></i>Dearest</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon wb-folder" aria-hidden="true"></i>Folders</a>
            </div>
          </section>
          <section class="page-aside-section">
            <h5 class="page-aside-title">Filter</h5>
            <div class="list-group">
              <a class="list-group-item" href="javascript:void(0)"><i class="icon wb-image" aria-hidden="true"></i>Images</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon wb-volume-high" aria-hidden="true"></i>Audio</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon wb-camera" aria-hidden="true"></i>Video</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon wb-file" aria-hidden="true"></i>Notes</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon wb-link-intact" aria-hidden="true"></i>Links</a>
              <a class="list-group-item" href="javascript:void(0)"><i class="icon wb-order" aria-hidden="true"></i>Files</a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="rc-page-col-main">

    <div class="rc-ft">
      <div class="rc-ft-brand">
        <h2><mat-icon matListIcon>settings_input_component</mat-icon> Pipelines</h2>
      </div>
      <div>
        <h2 class="feature-title">Project Data Flow Configuration</h2>
      </div>
      <div class="ml-25">
        <button class="btn btn-outline btn-primary btn-xs">
          <i class="fa fa-plus"></i> &nbsp; Create Pipe
        </button>
      </div>
    </div>

    <div id="mynetwork" style="height: 800px; border: solid black 2px;"></div>

  </div>

</div>
