<div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group form-material floating" >
      <input type="email" class="form-control" required
             [(ngModel)]="model.email" name="email" #name="ngModel"/>
      <label class="floating-label">Email</label>
    </div>
    <div [hidden]="name.valid || name.pristine" style="padding: 2px"
         class="alert alert-danger">
      Email is required
    </div>
    <div class="form-group form-material floating">
      <input type="password" class="form-control" required
             [(ngModel)]="model.password" name="password" #password="ngModel"
             minlength="5" />
      <label class="floating-label">Password</label>
    </div>
    <div [hidden]="password.valid || password.pristine" style="padding: 2px" class="alert alert-danger">
      <ul style="list-style: none">
        <li [hidden]="!password.errors?.minlength">
          {{password.errors?.minlength?.actualLength}} out of {{password.errors?.minlength?.requiredLength}} characters</li>
        <li [hidden]="!password.errors?.required">Password is Required</li>
      </ul>
    </div>
    <!--<div class="form-group clearfix">
      <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg float-left">
        <input type="checkbox" id="inputCheckbox"
               [(ngModel)]="model.rememberMe" name="remember">
        <label for="inputCheckbox">Remember me</label>
      </div>
      &lt;!&ndash;<a class="float-right" href="forgot-password.html">Forgot password?</a>&ndash;&gt;
    </div>-->
    <button type="submit" class="btn btn-primary btn-block btn-lg mt-40"
            [disabled]="!loginForm.form.valid">Sign in</button>
  </form>

  <p class="mt-1">Or you can login with...</p>

  <div class="font-size-20">
    <button class="btn btn-icon btn-dark btn-round" (click)="loginWithGithub()">
      <i class="fa fa-github"></i>
    </button>
  </div>


</div>
