<div class="page">
  <div class="page-content">

    <p><mat-progress-bar mode="indeterminate" *ngIf="loading > 0"></mat-progress-bar></p>

    <div class="row" *ngIf="encoding && form">

      <div class="col-12 mb-30">
        <button
          (click)="handleSaveResponses(experimentForm.exportChangedResponses())"
          class="btn btn-lg btn-success">Save</button>
      </div>

      <div class="col-lg-6">

        <!--<p><ngb-progressbar
          class="active"
          type="success"
          [striped]="true" [animated]="true"
          [value]="completion">
          {{completion}}%
        </ngb-progressbar></p>-->

        <app-experiment-form
          #experimentForm
          (onCreateBranch)="handleCreateBranch($event)"
          (onDeleteBranch)="handleDeleteBranch($event)"
          [encoding]="encoding"
          [appForm]="form">
        </app-experiment-form>
        <!--<div class="panel">
          <div class="panel-body">

          </div>
        </div>-->

      </div>
      <div class="col-lg-6">

      </div>
    </div>
  </div>
</div>
