<div class="page">
  <div class="page-content">

    <div class="row">

      <div class="col-lg-6">

        <p><mat-progress-bar mode="indeterminate" *ngIf="loading > 0"></mat-progress-bar></p>

        <div *ngIf="encoding && form && publication">
          <div class="mb-20">
            <button
              [disabled]="!changes"
              (click)="handleSaveResponses(experimentForm.exportChangedResponses())"
              class="btn btn-animate btn-animate-side btn-success btn-raised">
              <span><i class="icon wb-download" aria-hidden="true"></i> Save Changes </span>
            </button>
            <p [hidden]="changes">No changes since last save</p>
          </div>

          <app-experiment-form
            #experimentForm
            (onCreateBranch)="handleCreateBranch($event)"
            (onDeleteBranch)="handleDeleteBranch($event)"
            (onBranchChange)="handleChangeBranch($event)"
            (onChange)="onChange()"
            [encoding]="encoding"
            [appForm]="form">
          </app-experiment-form>
        </div>

      </div>
      <div class="col-lg-6">
        <iframe *ngIf="embeddingURL" [src]="embeddingURL" style="width: 100%; height: 700px;"></iframe>
      </div>
    </div>
  </div>
</div>
