<div class="page">
  <div class="container">
    <div class="page-header">


      <h1 class="page-title mb-25">{{project?.name}} Dashboard</h1>

      <div *ngIf="!project">
        <p>
          No project selected. Go to <a [routerLink]="['/projects']">projects page</a>?
        </p>
      </div>

      <div class="page-header-actions">
        <div class="row no-space w-250 hidden-sm-down">
          <div class="col-sm-4">
            <div class="counter">
              <span class="counter-number font-weight-medium">{{statistics?.publications || 0}}</span>
              <div class="counter-label">Publications</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="counter">
              <span class="counter-number font-weight-medium">{{statistics?.codebooks || 0}}</span>
              <div class="counter-label">Codebooks</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="counter">
              <span class="counter-number font-weight-medium">{{statistics?.tasks?.total || 0}}</span>
              <div class="counter-label">Tasks</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <p><mat-progress-bar mode="indeterminate" *ngIf="loading > 0"></mat-progress-bar></p>


    <div class="row" *ngIf="project && statistics">

      <!-- COLLABORATORS -->
      <div class="col-md-4">

        <div class="panel panel-dark panel-line">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="icon wb-users"></i> Project Collaborators <span class="badge badge-dark">{{statistics.allUsers.length}}</span></h3>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-full">

              <li *ngFor="let user of statistics.allUsers" class="list-group-item">
                <div class="media">
                  <div class="pr-20">
                    <a class="avatar" href="javascript:void(0)">
                      <img class="img-fluid" [src]="user.image">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="mt-0">{{user.name}}</h5>
                    <small>{{user.location}}</small>
                  </div>
                  <div class="pl-20">
                    <!--<span class="status status-lg status-online"></span>-->
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>

      <!-- PROJECT INFO -->
      <div class="col-md-4 panel-primary panel-line">

        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="icon wb-info-circle"></i> Project Info</h3>
          </div>
          <div class="panel-body">
            <b>Project Name:</b>
            <p>{{project.name}}</p>

            <b>Project ID:</b>
            <p>{{idGen(project.name)}}</p>

            <b>Project Number:</b>
            <p>{{project.id}}</p>
          </div>
        </div>

      </div>

      <!-- DOCUMENTATION -->
      <div class="col-md-4 panel-info panel-line">

        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="icon wb-order"></i> Documentation</h3>
          </div>
          <div class="panel-body">
            <h4>Coming Soon!</h4>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
