@import '~angular-tree-component/dist/angular-tree-component.css';

@import "scss/variables";
@import "scss/page";
@import "scss/toolbar";
@import "scss/questions";
@import "scss/cursor.scss";
@import "scss/_overrides";

/* ================== */
/* TEMPLATE OVERRIDES */
/* ================== */

//body {
//  padding-top: $navbarHeight;
//}

.navbar {
  min-height: 0;
  height: $navbarHeight;
}

/* MENUBAR */
.site-menubar {
  height: 100%;
  top: unset;
}


/* pub-coder lib */
.abstract-control {
  padding: 5px;
}

.form-spec-outlet {
  display: flex;
  flex-wrap: wrap;
}

.group, .group-list {
  flex-basis: 100%;

  .spec {
    flex-basis: 33%;
  }
}

.group-inline {
  flex-basis: 33%;

  .spec {
    flex-basis: 100% !important;
  }
}

.rc-group, .rc-group-list {
  .panel {
    position: relative;
    margin-bottom: 0;
    background-color: #fff;
    border: solid #b5b5b5 1px;
    border-radius: .286rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  }

  .panel-heading { padding: 0; }
  .panel-bordered > .panel-heading > .panel-title {
    padding: 13px 15px;
  }
  .panel-title {
    padding: 13px 15px;
  }

  .panel-body {
    position: relative;
    padding: 11px 11px;
  }
}

