@import '~angular-tree-component/dist/angular-tree-component.css';

@import "scss/variables.scss";
@import "scss/toolbar";
@import "scss/questions";
@import "scss/cursor.scss";
@import "scss/_overrides";

/* ================== */
/* TEMPLATE OVERRIDES */
/* ================== */

body {
  padding-top: $navbarHeight;
}

.navbar {
  min-height: 0;
  height: $navbarHeight;
}

/* MENUBAR */
.site-menubar {
  height: 100%;
  top: unset;
}
