@import '~angular-tree-component/dist/angular-tree-component.css';

.cdk-overlay-container {
  z-index: 99999;
}

.mat-form-field {
  display: block !important;
}

.app-question {
  margin-bottom: 20px;
}

.app-category .card {
  border: solid lightgrey 2px;
  margin-bottom: 5px;
}

.app-category.complete .card {
  border: solid lightgreen 2px;
  margin-bottom: 5px;
}
