@import "variables";

.rc-page {
  display: flex;
  align-items: stretch;
  height: calc(100% - #{$navbarHeight});

  .rc-page-col-left {
    flex-basis: 300px;
    background-color: white;
    border-right: solid lightgrey 1px;
  }

  .rc-page-col-main {
    flex-grow: 2;
  }
}


.rc-col-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;

  cursor: pointer;
  /* bootstrap overrides */
  padding: 10px 20px;
  margin-bottom: 0;

  .details {
    flex-grow: 2;
  }
}

.rc-col-card.rc-active {
  background-color: #d3e0f6;
}
