@import "variables";

.app-question {
  margin-bottom: 20px;
}

.app-category .card {
  border: solid lightgrey 2px;
  margin-bottom: 5px;
}

.app-category.complete .card {
  border: solid lightgreen 2px;
  margin-bottom: 5px;
}
