<div class="modal-header">
  <h4 class="modal-title">Add Single Publication</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (submit)="handleSubmit()">
    <div class="row">
      <div class="form-group col-md-12">
        <input name="displayname" [(ngModel)]="formModel.title" type="text" class="form-control" placeholder="Repository Name"/>
      </div>
      <div class="form-group col-md-12">
        <input name="embedding_url" [(ngModel)]="formModel.embeddingURL" type="text" class="form-control" placeholder="Embedding URL"/>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Add Article</button>
  </form>
</div>
