<form #projectForm="ngForm" (ngSubmit)="onSubmit()" class="row new-project-form">
  <!--<div class="form-group col-md-3">
    <label class="form-control-label"> Owner </label> &nbsp;
    <div>
      <button type="button" class="btn btn-sm btn-icon btn-light"
              data-toggle="tooltip" data-original-title="Edit">
        <img height="20" src="https://avatars0.githubusercontent.com/u/22692124?s=40&v=4"/>
        &nbsp; chrisrocco &nbsp;
        <i class="icon wb-chevron-down-mini" aria-hidden="true"></i>
      </button>
    </div>
  </div>-->
  <div class="form-group col-md-9">
    <label class="form-control-label"> Project Name * </label>
    <input [(ngModel)]="projectModel.name" name="name" required type="text" class="form-control" placeholder="Murine Rigor"/>
  </div>
  <div class="col-md-12">
    <p>Great project names are short and memorable.</p>
  </div>
  <div class="form-group col-md-12">
    <label class="form-control-label"> Description</label> <small>(optional)</small>
    <input [(ngModel)]="projectModel.description" name="description" type="text" class="form-control" />
  </div>
  <div class="form-group col-md-12">
    <hr/>
    <button class="btn btn-success" [disabled]="!projectForm.form.valid"> Submit </button>
  </div>
</form>
