
<div class="text-center" *ngIf="loading > 0">
    <div class="loading-wrapper" style="width: 100px; margin: auto">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</div>

<form class="form" (ngSubmit)="onFormSubmit()" *ngIf="loading === 0 && settings" #form>
    <div class="form-group">
        <label> <strong>Task Target Publication</strong> </label>
        <p class="description-content">
            <em>The number of desired encodings per publication</em>
        </p>
        <input #targetPub class="form-control" required
               type="number" name="task_target_publication" [(ngModel)]="settings.task_target_publication" />
    </div>

    <div class="form-group">
        <label> <strong>Task Target Encoder</strong> </label>
        <p class="description-content">
            <em>The desired number of active encoding tasks per encoder</em>
        </p>
        <input #targetEnc class="form-control" required
               type="number" name="task_target_encoder" [(ngModel)]="settings.task_target_encoder" />
    </div>

    <button class="btn btn-success"> Submit </button>

</form>

