<div class="page">
  <div class="page-content">

    <div class="row" *ngIf="form">
      <div class="col-lg-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <b>Form Structure</b> </li>
        </ol>
        <div class="panel">
          <div class="panel-body">
            <div id="saving" [hidden]="!showSaving">
              <b>Saving..</b>
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              <br/>
            </div>

            <app-question-tree
              #tree
              *ngIf="form"
              (nodeSelected)="nodeSelected($event)"
              [rootCategory]="form.root_category">
            </app-question-tree>

            <!--
            <app-form-layout-tree
              #treeView
              [form]="form"
              (formAction)="dispatch($event)">
            </app-form-layout-tree>
            -->

          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="panel">
          <div class="panel-body">

            <h2>Rendering Preview</h2>
            <hr/>
            <br/>

            <!-- start form render-->
            <app-category *ngIf="activeCategory"
              [root]="true"
              [category]="activeCategory">
            </app-category>
            <!-- end form render -->

            <br/>
            <button class="btn btn-success" (click)="open(questionModalContent)"> <i class="icon wb-plus"></i> <b>Question</b></button>
            <button class="btn btn-success" (click)="open(categoryModalContent)"> <i class="icon wb-plus"></i> <b>Category</b></button>
          </div>
        </div>

      </div>
    </div>


    <ng-template #questionModalContent let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">New Question</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-question-builder (appSave)="onAddQuestion($event)"></app-question-builder>
      </div>
    </ng-template>

    <ng-template #categoryModalContent let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">New Category</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-category-builder (appSave)="onAddCategory($event)"></app-category-builder>
      </div>
    </ng-template>

  </div>
</div>
